//- https://pugjs.org/language/attributes.html
doctype html
html(lang='fr')
	head
		block title
			title Static-dev
		
		include head

	body
		//- MIXINS
		include ../mixins/svg
		include ../mixins/hero
		
		include ../modules/header
		
		main.site-main
			block content

		include ../modules/footer

		script(src='./assets/js/main.js')